// ----------------------
// ------- Mixins -------
// ----------------------
@mixin bp-xlg {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
@mixin bp-lg {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin bp-md {
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}
@mixin bp-sm {
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin bp-xs {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin bp-mh {
  @media only screen and (min-width: 425px) and (max-width: 767px) {
    @content;
  }
}
@mixin bp-ml {
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    @content;
  }
}
@mixin bp-mm {
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    @content;
  }
}
@mixin bp-xxs {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin transform($args) {
  -webkit-transform: #{$args};
  -moz-transform: #{$args};
  -ms-transform: #{$args};
  -o-transform: #{$args};
  transform: #{$args};
}
@mixin transition($args) {
  -webkit-transition: #{$args};
  -moz-transition: #{$args};
  -ms-transition: #{$args};
  -o-transition: #{$args};
  transition: #{$args};
}
@mixin transform-origin($args) {
  -webkit-transform: #{$args};
  -moz-transform-origin: #{$args};
  -ms-transform-origin: #{$args};
  -o-transform-origin: #{$args};
  transform: #{$args};
}
@mixin transition-delay($args) {
  -webkit-transition-delay: #{$args};
  -moz-transition-delay: #{$args};
  -ms-transition-delay: #{$args};
  -o-transition-delay: #{$args};
  transition-delay: #{$args};
}
@mixin animation-duration($args) {
  -webkit-animation-duration: #{$args};
  -moz-animation-duration: #{$args};
  -ms-animation-duration: #{$args};
  -o-animation-duration: #{$args};
  animation-duration: #{$args};
}
@mixin animation-fill-mode($args) {
  -webkit-animation-fill-mode: #{$args};
  -moz-animation-fill-mode: #{$args};
  -ms-animation-fill-mode: #{$args};
  -o-animation-fill-mode: #{$args};
  animation-fill-mode: #{$args};
}
@mixin animation-delay($args) {
  -webkit-animation-delay: #{$args};
  -moz-animation-delay: #{$args};
  -ms-animation-delay: #{$args};
  -o-animation-delay: #{$args};
  animation-delay: #{$args};
}
@mixin animation-iteration-count($args) {
  -webkit-animation-iteration-count: #{$args};
  -moz-animation-iteration-count: #{$args};
  -ms-animation-iteration-count: #{$args};
  -o-animation-iteration-count: #{$args};
  animation-iteration-count: #{$args};
}
@mixin animation-timing-function($args) {
  -webkit-animation-timing-function: #{$args};
  -moz-animation-timing-function: #{$args};
  -ms-animation-timing-function: #{$args};
  -o-animation-timing-function: #{$args};
  animation-timing-function: #{$args};
}
@mixin animation-name($args) {
  -webkit-animation-name: #{$args};
  -moz-animation-name: #{$args};
  -ms-animation-name: #{$args};
  -o-animation-name: #{$args};
  animation-name: #{$args};
}
@mixin animation($animationName) {
  -webkit-animation: #{$animationName};
  -moz-animation: #{$animationName};
  -ms-animation: #{$animationName};
  -o-animation: #{$animationName};
  animation: #{$animationName};
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
// ----------------------
// ----- End Mixins -----
// ----------------------
$black: #000;
$white: #fff;
$red: #e62b1e;


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
li,
span,
body,
html,
small,
p,
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Proxima-nova', Helvetica, Arial, sans-serif;
  line-height: 1.618;
}
body,
html,
p{
  font-size: 14px;
  font-weight: 200;
}
h1{
  font-size: 36px;
  font-weight: 400;
}
h2{
  font-size: 32px;
  font-weight: 400;
}
h3{
  font-size: 28px;
  font-weight: 400;
}
h4{
  font-size: 24px;
  font-weight: 400;
}
h5{
  font-size: 20px;
  font-weight: 400;
}
h6{
  font-size: 16px;
  font-weight: 400;
}
strong{
  font-weight: 600;
}
a,
a:hover,
a:visited,
a:active,
a:focus,
input,
input:hover,
input:focus,
input:visited,
input:active,
select,
select:hover,
select:focus,
select:visited,
select:active,
img,
img:hover,
img:visited,
img:active,
img:focus,
button,
button:hover,
button:visited,
button:active,
button:focus,
div,
div:hover,
div:visited,
div:active,
div:focus{
  outline: 0 !important;
  text-decoration: none !important;
}
a[disabled="true"]{
  cursor: not-allowed;
  pointer-events: none;
}
