include header.pug
.container
  .col-md-6
  .col-md-6
    h1 Pug - node template engine
#container.col
  if youAreUsingPug
    p You are amazing
  else
    p Get on it!
  p
    Pug is a terse and simple templating language with a
    strong focus on performance and powerful features.
    //- img(src=require('../images/test.jpg'))
    
