/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
li,
span,
body,
html,
small,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Proxima-nova', Helvetica, Arial, sans-serif;
  line-height: 1.618;
}

body,
html,
p {
  font-size: 14px;
  font-weight: 200;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

a,
a:hover,
a:visited,
a:active,
a:focus,
input,
input:hover,
input:focus,
input:visited,
input:active,
select,
select:hover,
select:focus,
select:visited,
select:active,
img,
img:hover,
img:visited,
img:active,
img:focus,
button,
button:hover,
button:visited,
button:active,
button:focus,
div,
div:hover,
div:visited,
div:active,
div:focus {
  outline: 0 !important;
  text-decoration: none !important;
}

a[disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;
}

body {
  background-color: #fff;
  background: url("../images/test.jpg") center center no-repeat;
}
